body{
  background-color: rgb(186, 195, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 8px;
}

.container>button{
  margin: 20px;
  width: 120px;
  color:rgb(236, 238, 244) ;
  background-color: rgb(70, 84, 148);
  border-radius: 5px;
}

.Button-bot{
 border: none;
 background-color: inherit;
 color: #2898ec;
 border: 1px solid #2898ec;
 padding-inline: 1.5rem;
 padding-block:.5rem;
 border-radius: 2rem;
}

.Button-bot:hover{
  background-color:#2898ec ;
  color: white;
}

.InputBox{
  border-radius: .5rem;
  height: 1.5rem;
  margin-inline: .25rem;
}

.InputContainer{
  display: flex;
}
